/*import fonts from font.css file*/
@import url(./fonts.css);

/* import variables*/
@import url(./partials/variables.css);

/* import global css */

@import url(./partials/_global.css);

/*Start Styling Navbar*/

.navbar-brand{
    padding: 0 2rem 0 5rem;
}
.navbar{
    padding: 1rem 12rem;
}
.nav-link{
    font-family: var(--roboto);
    text-transform:uppercase;
    font-weight:500;
    padding:1.7rem;
    color:var(--title-color);
}
.active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}
/*End styling Navbar*/

/*   Start Button Style*/

.site-banner{
    background: url(../img/pexels-photo-back1.jpeg)no-repeat center center fixed;    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
 .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}

 .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

 .site-title h1{
    font-size: 5rem;
}

 .site-title h4{
    font-size: 1.5rem;
}

 .banner-image > img{
    padding: 7rem 0;
    width: 90rem;
}


/*   End Button Style  */

/* Start About Area */ 

.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/ 60px var(--roboto);
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
}

/* End About Area */

/*Start brand area*/

.bg-panel{
    position: absolute;
    left: 600px; top: -20%;
    background: #e029290a;
    width: 200px;
    height: 150px;
    margin-left: 340px;
    z-index: -1;
}
.call-area span{
   
    display: block;

}

 .call-area{
    background-color: rgba(131, 100, 245, 0.8); 
  padding-top: -80%;
    padding-left: 37rem;
    position: relative;
}

/*End brand area*/

/* Skills Area */ 

.site-main .skills-area{
    padding: 7rem 2rem;
}

.site-main .skills-area .skills-title{
    padding: 0 14rem;
}

.site-main .skills-area .skills-title h1{
    font-size: 35px;
}

.site-main > .skills-area .skills{
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0rem;
    width: 16rem;
    margin: 8rem .6rem;
    transition: box-shadow .8s ease;
}

.site-main > .skills-area .skills:hover{
  box-shadow: var(--box-shadow);
}






/* End Skills Area */ 

/* Footer Area */ 

footer.footer-area{
    padding: 5rem 0;
    background: url(../img/footer-bg.png) no-repeat;
}

footer.footer-area .social h5{
    font: normal 500 23px/ 30px var(--roboto);
}

footer.footer-area .social a > i{
    font-size:22px;
    padding: 2rem;
    color: var(--border-color);
}

footer.footer-area .social a:hover > i{
    color: var(--primary-color);
}
.gmail h5{
    font: normal 500 23px/ 30px var(--roboto); 
}




/* End Footer */ 

